.App {
  text-align: center;
  
}
p{  font-style: initial; font-size: x-large;}

img{
  height:500px; width: 500px;
  pointer-events: none;
}
h1{color:#01be96 ; font-size:larger; font-weight: bolder;}

.image{width: 200px; height: 200px;}
.name{display:flex; justify-content: space-between; margin: 30px; padding:20px}
.hobbies{display: flex; flex-direction: row; padding:200px ; margin:50px ;}
.navbar{ font-size: medium; font-family: Arial, Helvetica, sans-serif; }
.me-auto{ font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: larger;}
.html,.css,.js,.react, .node{ width: 100px; height: 150px; margin-left: 60px; margin-right: 60px;}
.images {display: flex; justify-content: space-between;}
button { background-color: #01be96; width: 130px; height: 50px; font-weight: 800; font-size: larger; color: aliceblue;font-family:'Lucida Sans'}
.ContactMe { width:500px; height: 50px; margin-left: 450px;}
.mb3{ color: aqua;}
.formLabel{ text-align: center; font-size: larger; font-weight: bold; font-family:  'Arial Narrow Bold';}
.formControl {text-align: center; font-size: larger; font-weight: bold; font-family:  'Arial Narrow Bold';}